/* Reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* Common */

.flex {
    display: flex;
}


.flex-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* Main */

.container {
    height: 90vh;
    width: 100%;
    background-color: #222;
    overflow: auto;
}

.box-photo {
    padding-top: 7%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
}

.photo {
    position: relative;
    margin-top: 1.5vh;
    width: 300px;
    max-height: 200px;
}

.photo img {
    height: 100%;
}

.nome {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: bold;
    color: white;
    padding: 1%
}

nav {
    height: 10vh;
    width: 100%;
    background-color: #444;
    color: white;
    z-index: 1;
    position: relative;
    z-index: 1;
    line-height: 4vh;
    padding: 0 1vw;

}

.footer {
    line-height: 4vh;
}

nav i {
    padding: 0 24px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.green:hover,
.red:hover {
    transform: scale(1.3);
}

.speaker {
    position: absolute;
    top: 1%;
    right: 1%;
    color: white;
    padding: 5px;
    margin-right: 3px;
    background-color: rgb(78, 78, 78);
    border-radius: 10px;
}

.fa-microphone-slash:hover {
    display: inline-block;
}

.name {
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    font-weight: bold;
    color: white;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.4);
}

.nome i:nth-child(1) {
    color: green;
}

.nome i:nth-child(1) {
    display: none;
}


.nome:hover i:nth-child(1) {
    display: inline-block;
}

.nome:hover i:nth-child(2) {
    display: none;
}